.body#built
  = render partial: 'layouts/slideshow', locals: { images: @project[:images] }
  .rule
  .container
    .project-info
      .location
        Location:
        = @project[:location]
      .completed
        Completed:
        = @project[:completion_date]
      .description
        = @project[:description]
