.body#designed
  = render partial: 'layouts/slideshow', locals: { images: @project[:images] }
  .rule
  .container
    .project-info
      .type
        Building Type:
        = @project[:building_type]
      .location
        Location:
        = @project[:location]
      .description
        = @project[:description]
