.body#development
  = render partial: 'layouts/slideshow', locals: { images: @project[:images], hideControls: true, autoplay: true }
  .container
    CG Group is comprised of a team of real estate investment professionals with over twenty years of combined experience.
    With diverse backgrounds in brokerage, finance, commercial development, general contracting, planning, and asset management, the principals have led over $200 million of transactions in the Los Angeles Metro area.
