$pink: #ff00ff;
$grey: #595959;
$black: #000;
$helvetica: "nimbus-sans";
$arial: "arial";

body {
  font-family: $helvetica;
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  &.responsive {
    display: block;
    width: 100%;
  }
}

@mixin clearfix {
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  &:after {
      clear: both;
  }
  & {
      *zoom: 1;
  }
}

@mixin reflect-x {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.body .container {
  width: 960px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

@import 'static';
@import 'header';
@import 'footer';
