.menu {
  font-family: $arial;
  padding: 40px 0;
  font-size: 21px;
  border-bottom: 2px solid $pink;
  color: $grey;

  ul {
    @include clearfix;
    
    li {
      display: block;
      float: left;
      padding: 5px 30px;

      a {
        text-decoration: inherit;
        color: inherit;
        padding: 5px 5px;
        
        &:hover {
          color: $black;
        }
      }
      
      ul {
        display: none;
        float: left;
        padding-top: 8px;
        opacity: 0;
        transition: height 360ms;

        li {
          display: block;
          float: none;
          width: 0px;
          color: $grey;
          font-size: 16px;
          padding: 2px 0;

          a {
            white-space: nowrap;
            padding: 0;
          }
        }
      }
    }
  }
  li:hover ul {
    opacity: 1;
    transition: opacity 360ms 360ms;
  }

  .logo {
    font-size: 56px;
    line-height: .5;
    padding-right: 50px;
    font-weight: 100;
    font-family: $helvetica;
    color: $pink;
    
    a:hover {
      color: inherit;
    }

    span:first-child {
      display: inline-block;
      transform:scale(-1, 1);
    }
    span:last-child {
      display: inline-block;
      position: relative;
      right: 14px;
    }
  }
  
}
