@media (min-width: $screen-lg) {
  #about {
    img {
      padding: 0 40px 0 0;
    }
    .about {
      padding: 30px 0;
    }
    h2 {
      padding: 0;
    }
    .contact-form {
      padding: 0;

      input[type=text] {
        width: 140px;
      }
      textarea {
        width: 448px;
      }
      a {
        float: right;
        margin: 2px 32px 8px 0;
        width: auto;
        display: inline;
        padding: 0;
        border: 0;
      }
    }
    .contact-info {
      padding: 0;
    }
  }
}
