#index {

}

#services {
    padding: 60px 0;
    font-weight: 300;

  .summary {
    margin-bottom: 100px;
  }
  ul.services {
    text-align: right;
    @include clearfix;

    li {
      width: 50%;
      float: right;
      clear: both;
      
      &:before { 
        display: block;
        float: left;
        content: '-'
      }
    }
  }
}

#built {
  .thumbs {
    padding: 5px 2%;

    img {
      width: 44%;
      margin: 5px 2%;
      display: block;
      float: left;
      cursor: pointer;
      opacity: .7;
      
      &:hover {
        opacity: 1;
      }
    }
  }
  
  .project-info {
    padding: 8px 23px 0;

    .location,
    .completed {
      font-size: 16px;
    }
    .description {
      margin-top: 12px;
    }
  }
}

#about {
  img {
    padding: 0 40px 0 0;
  }
  .about {
    padding: 30px 0;
  }
  h2 {
    font-weight: normal;
    font-size: 18px;
  }
  .contact-form {
    input[type=text] {
      width: 140px;
      box-sizing: border-box;
      padding: 4px 6px;
      margin: 0 10px 15px 0;
    }
    textarea {
      width: 448px;
      height: 120px;
      padding: 4px 6px;
    }
    a {
      float: right;
      margin: 2px 32px 8px 0
    }
  }
}
