.menu
  .container
    %ul
      %li.logo
        %a{href: '/' }
          %span C
          %span G
      %li
        %a{ href: '/services' }
          SERVICES
      %li
        %a{ href: '/built' }
          BUILT
      %li
        %a{ href: '/designed' }
          DESIGNed
      %li
        %a{ href: '/development' }
          DEVELOPMENT
      %li
        %a{ href: '/about' }
          ABOUT
