.menu
  .container
    %ul
      %li.logo
        %a{href: '/' }
          %span C
          %span G
      %li.menu-item
        %a{ href: '/services' }
          SERVICES
        %ul
          %li
            %a{href: '/services/design'}
              Architectural Design
          %li
            %a{href: '/services/repositioning'}
              Real Estate Investment Repositioning
      %li.menu-item
        %a{ href: '/built' }
          BUILT
        %ul
          %li
            %a{href: '/built/sea-colony'}
              7 Sea Colony
      %li.menu-item
        %a{ href: '/designed' }
          DESIGNed
      %li.menu-item
        %a{ href: '/development' }
          DEVELOPMENT
      %li.menu-item
        %a{ href: '/about' }
          ABOUT
